{
  "swagger" : "2.0",
  "info" : {
    "description" : "ID4i HTTP API",
    "version" : "0.9.5-SNAPSHOT",
    "title" : "ID4i API",
    "termsOfService" : "http://id4i.de",
    "contact" : {
      "name" : "BlueRain Software GmbH & Co. KG",
      "url" : "http://bluerain.de",
      "email" : "info@bluerain.de"
    },
    "license" : {
      "name" : "MIT",
      "url" : "https://opensource.org/licenses/MIT"
    },
    "x-logo" : {
      "backgroundColor" : "#FAFAFA",
      "url" : "/static/logo.png"
    }
  },
  "host" : "backend.id4i.de",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Accounts",
    "description" : "User accounts allows people to register for ID4i and login. All permissions and roles for interactive ID4i usage (as opposed to machine-to-machine interactions) are attached to Organizations and User Accounts. The API allows users to register, verify their registration, login and reset their passwords."
  }, {
    "name" : "Alias",
    "description" : "Guid Alias Controller"
  }, {
    "name" : "Api Keys",
    "description" : "Api Key Controller"
  }, {
    "name" : "Auditing",
    "description" : "Auditing services allow to review changes made by users or api keys. Changelog messages can be resolved as plain text or formatted message with parameters."
  }, {
    "name" : "Billing",
    "description" : "Billing Controller"
  }, {
    "name" : "Collections",
    "description" : "Collection Controller"
  }, {
    "name" : "Guids",
    "description" : "Guid Alias Controller"
  }, {
    "name" : "History",
    "description" : "Allows to retrieve a GUID's history and to publish new history items."
  }, {
    "name" : "Images",
    "description" : "Services can use images stored with public visibility. This API allows you to retrieve the stored image by ID."
  }, {
    "name" : "Meta Information",
    "description" : "App Info Controller"
  }, {
    "name" : "Organizations",
    "description" : "Country Controller"
  }, {
    "name" : "Public Services",
    "description" : "Go Controller"
  }, {
    "name" : "Routing",
    "description" : "Routing Controller"
  }, {
    "name" : "Storage",
    "description" : "Document Storage Controller"
  }, {
    "name" : "Transfer",
    "description" : "Id 4n Transfer Controller"
  }, {
    "name" : "WhoIs",
    "description" : "Who Is Controller"
  } ],
  "consumes" : [ "application/xml", "application/json" ],
  "produces" : [ "application/xml", "application/json" ],
  "paths" : {
    "/account/password" : {
      "post" : {
        "tags" : [ "Accounts" ],
        "summary" : "Request password reset",
        "description" : "Requesting a reset for a new password. ",
        "operationId" : "requestPasswordReset",
        "parameters" : [ {
          "in" : "body",
          "name" : "resetRequest",
          "description" : "Contains the required information to request a new password.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PasswordResetRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SimpleMessageResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Accounts" ],
        "summary" : "Verify password reset",
        "description" : "Setting a new password and verifying the request to set the password.",
        "operationId" : "verifyPasswordReset",
        "parameters" : [ {
          "in" : "body",
          "name" : "verificationRequest",
          "description" : "Contains the new password and the verification token to set the new password.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PasswordResetVerificationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SimpleMessageResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "deprecated" : false
      }
    },
    "/account/registration" : {
      "post" : {
        "tags" : [ "Accounts" ],
        "summary" : "Register user",
        "description" : "Registering a new user.",
        "operationId" : "registerUser",
        "parameters" : [ {
          "in" : "body",
          "name" : "userRegistration",
          "description" : "The user information about the new created user.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserRegistrationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/UserRegistrationResponse"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Accounts" ],
        "summary" : "Complete registration",
        "description" : "Completing a registration e.g. for invited users. Finish registration with a username and a password.",
        "operationId" : "completeRegistration",
        "parameters" : [ {
          "in" : "body",
          "name" : "completeRegistration",
          "description" : "Contains the verification token, the username and the initial password.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CompleteUserRegistrationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "deprecated" : false
      }
    },
    "/account/verification" : {
      "post" : {
        "tags" : [ "Accounts" ],
        "summary" : "Verify registration",
        "description" : "Verifies a new user registration.",
        "operationId" : "verifyUserRegistration",
        "parameters" : [ {
          "in" : "body",
          "name" : "token",
          "description" : "The token for user verification.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RegistrationVerificationTokenPresentation"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/v1/apikeys" : {
      "get" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Find API key by organization",
        "description" : "Finding all API key assigned to the specified organization in a paginated manner.",
        "operationId" : "listAllApiKeysOfOrganization",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "organizationId",
          "in" : "query",
          "description" : "The namespace of the organization to search in.",
          "required" : false,
          "type" : "string",
          "allowEmptyValue" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedApiKeyResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Create API key",
        "description" : "Creation of a new API key.",
        "operationId" : "createNewApiKey",
        "parameters" : [ {
          "in" : "body",
          "name" : "creationRequest",
          "description" : "API key to be created.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiKeyCreationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ApiKeyPresentation"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/apikeys/privileges" : {
      "get" : {
        "tags" : [ "Api Keys" ],
        "summary" : "List all privileges",
        "description" : "Listing all possible API key privileges.",
        "operationId" : "listAllApiKeyPrivileges",
        "parameters" : [ {
          "name" : "id4nConcerning",
          "in" : "query",
          "description" : "id4nConcerning",
          "required" : false,
          "type" : "boolean",
          "allowEmptyValue" : false
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ApiKeyPrivilegeInfoResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/apikeys/{key}" : {
      "get" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Show API key",
        "description" : "Showing the details of an API key.",
        "operationId" : "getApiKey",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "The API key to show.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ApiKeyPresentation"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Update API keys",
        "description" : "API keys can be updated with new labels, and be activated and deactivated. The secret or UUID cannot be changed.",
        "operationId" : "updateApiKey",
        "parameters" : [ {
          "in" : "body",
          "name" : "apiKeyChange",
          "description" : "The new values to apply.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApiKeyChangeRequest"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "The API key to be updated.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Delete API key",
        "description" : "Deletion of an API key.",
        "operationId" : "deleteApiKey",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "The API key to delete.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/apikeys/{key}/privileges" : {
      "get" : {
        "tags" : [ "Api Keys" ],
        "summary" : "List privileges",
        "operationId" : "listApiKeyPrivileges",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ApiKeyPrivilegePaginatedResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Add privilege",
        "operationId" : "addApiKeyPrivilege",
        "parameters" : [ {
          "in" : "body",
          "name" : "addApiKeyPrivilegeRequest",
          "description" : "addApiKeyPrivilegeRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddApiKeyPrivilegeRequest"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "key",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Remove privilege",
        "operationId" : "removeApiKeyPrivilege",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "key",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "removeApiKeyPrivilegeRequest",
          "description" : "removeApiKeyPrivilegeRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RemoveApiKeyPrivilegeRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/apikeys/{key}/privileges/{privilege}/id4ns" : {
      "get" : {
        "tags" : [ "Api Keys" ],
        "summary" : "ID4ns of a privilege",
        "description" : "Listing ID4ns of a id4n concerning privilege",
        "operationId" : "listId4ns",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "privilege",
          "in" : "path",
          "description" : "privilege",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Id4nPresentationPaginatedResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Add ID4ns of a privilege",
        "operationId" : "addApiKeyPrivilegeForId4ns",
        "parameters" : [ {
          "in" : "body",
          "name" : "id4ns",
          "description" : "id4ns",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ListOfId4ns"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "privilege",
          "in" : "path",
          "description" : "privilege",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Api Keys" ],
        "summary" : "Remove id4ns of a privilege",
        "operationId" : "removeApiKeyPrivilegeForId4ns",
        "parameters" : [ {
          "in" : "body",
          "name" : "id4ns",
          "description" : "id4ns",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ListOfId4ns"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "key",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "privilege",
          "in" : "path",
          "description" : "privilege",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/billing/{organizationId}" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get billing amount of services for a given organization",
        "operationId" : "getSumForOrganization",
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Billing start date",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "allowEmptyValue" : false,
          "x-example" : "2018-06-05"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization to compute the billing information for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Billing end date",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "allowEmptyValue" : false,
          "x-example" : "2018-06-06"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ServiceCosts"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/billing/{organizationId}/positions" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get billing positions for a given organization",
        "operationId" : "getPositionsForOrganization",
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Billing start date",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "allowEmptyValue" : false,
          "x-example" : "2018-06-05"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The organization to compute the billing information for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Billing end date",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "allowEmptyValue" : false,
          "x-example" : "2018-06-06"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/BillingPosition"
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/changelog/organization/{organizationId}/" : {
      "get" : {
        "tags" : [ "Auditing" ],
        "summary" : "List change log entries of an organization",
        "description" : "Listing change log entries of the specified organization id.",
        "operationId" : "listOrganizationChangeLog",
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "From date time as UTC Date-Time format",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "x-example" : "2018-05-10T10:05:10.690Z"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "messageMimeType",
          "in" : "query",
          "description" : "The Mime-type for the message format that should be returned. e.g. 'text/plain' or 'text/mustache' ",
          "required" : false,
          "type" : "string",
          "default" : "text/mustache",
          "allowEmptyValue" : false,
          "x-example" : "text/plain"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "The namespace identifying the organization whose change log entries are to be listed",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "To date time as UTC Date-Time format",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "x-example" : "2018-05-11T01:01:01.690Z"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedChangeLogEntryResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/collections" : {
      "post" : {
        "tags" : [ "Collections" ],
        "summary" : "Create collection",
        "operationId" : "createCollection",
        "parameters" : [ {
          "in" : "body",
          "name" : "createInfo",
          "description" : "createInfo",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateCollectionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Id4n"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/collections/{id4n}" : {
      "get" : {
        "tags" : [ "Collections" ],
        "summary" : "Find collection",
        "operationId" : "findCollection",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/GuidCollection"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Collections" ],
        "summary" : "Delete collection",
        "operationId" : "deleteCollection",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Collections" ],
        "summary" : "Update collection",
        "description" : "Update collection changing only the given values",
        "operationId" : "updateCollection",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/GuidCollection"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/collections/{id4n}/elements" : {
      "get" : {
        "tags" : [ "Collections" ],
        "summary" : "List contents of the collection",
        "operationId" : "listElementsOfCollection",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedGuidResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Collections" ],
        "summary" : "Add elements to collection",
        "operationId" : "addElementsToCollection",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "listOfGuids",
          "description" : "listOfGuids",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ListOfId4ns"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Collections" ],
        "summary" : "Remove elements from collection",
        "operationId" : "removeElementsFromCollection",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "listOfGuids",
          "description" : "listOfGuids",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ListOfId4ns"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/countries" : {
      "get" : {
        "tags" : [ "Organizations" ],
        "summary" : "List countries",
        "operationId" : "listCountries",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedCountryResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/documents/{id4n}" : {
      "get" : {
        "tags" : [ "Storage" ],
        "summary" : "List documents",
        "description" : "Listing all documents of an id4n",
        "operationId" : "listAllDocuments",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "owner",
          "in" : "query",
          "description" : "Filter by owner organization",
          "required" : false,
          "type" : "string",
          "allowEmptyValue" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedDocumentResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/documents/{id4n}/{organizationId}" : {
      "get" : {
        "tags" : [ "Storage" ],
        "summary" : "List organization specific documents",
        "description" : "Listing documents of an id4n seen by a specified organization",
        "operationId" : "listDocuments",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organizationId",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "owner",
          "in" : "query",
          "description" : "Filter by owner organization",
          "required" : false,
          "type" : "string",
          "allowEmptyValue" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedDocumentResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Storage" ],
        "summary" : "Create an empty document for an id4n",
        "description" : "The document is created empty, mime-type defaults to text/plain",
        "operationId" : "createDocument",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "content",
          "in" : "formData",
          "description" : "content",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organizationId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Document"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/documents/{id4n}/{organizationId}/{fileName}" : {
      "get" : {
        "tags" : [ "Storage" ],
        "summary" : "Read document contents",
        "operationId" : "readDocument",
        "parameters" : [ {
          "name" : "fileName",
          "in" : "path",
          "description" : "fileName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organizationId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string",
              "format" : "byte"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Storage" ],
        "summary" : "Delete a document",
        "operationId" : "deleteDocument",
        "parameters" : [ {
          "name" : "fileName",
          "in" : "path",
          "description" : "fileName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organizationId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/documents/{id4n}/{organizationId}/{fileName}/metadata" : {
      "get" : {
        "tags" : [ "Storage" ],
        "summary" : "Retrieve a document (meta-data only, no content)",
        "operationId" : "getDocument",
        "parameters" : [ {
          "name" : "fileName",
          "in" : "path",
          "description" : "fileName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organizationId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Document"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Storage" ],
        "summary" : "Update a document",
        "operationId" : "updateDocumentMetadata",
        "parameters" : [ {
          "in" : "body",
          "name" : "document",
          "description" : "document",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DocumentUpdate"
          }
        }, {
          "name" : "fileName",
          "in" : "path",
          "description" : "fileName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "id4n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organizationId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Document"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/guids" : {
      "post" : {
        "tags" : [ "Guids" ],
        "summary" : "Create GUID(s)",
        "description" : "Creating one or more GUIDs with a specified length.",
        "operationId" : "createGuid",
        "parameters" : [ {
          "in" : "body",
          "name" : "createGUIDInfo",
          "description" : "GUID creation model",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateGuidRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ListOfId4ns"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/guids/withoutCollection" : {
      "get" : {
        "tags" : [ "Guids" ],
        "summary" : "Retrieve GUIDs not in any collection",
        "operationId" : "getGuidsWithoutCollection",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "organizationId",
          "in" : "query",
          "description" : "The namespace of the organization to search GUIDs for",
          "required" : true,
          "type" : "string",
          "allowEmptyValue" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedResponseOfGuid"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/guids/{id4n}" : {
      "get" : {
        "tags" : [ "Guids" ],
        "summary" : "Retrieve GUID information",
        "operationId" : "getGuid",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "The GUID number",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Guid"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "Guids" ],
        "summary" : "Change GUID information.",
        "description" : "Allows ownership transfer.",
        "operationId" : "updateGuid",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "The GUID number",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "request",
          "description" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Guid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/history/{id4n}" : {
      "get" : {
        "tags" : [ "History" ],
        "summary" : "List history",
        "description" : "Lists the history of a GUID",
        "operationId" : "filteredList",
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "From date time as UTC Date-Time format",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "x-example" : "2018-05-10T10:05:10.690Z"
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "GUID to retrieve the history for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "includePrivate",
          "in" : "query",
          "description" : "Also return private history entries",
          "required" : false,
          "type" : "boolean",
          "default" : true,
          "allowEmptyValue" : false
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum count of returned elements",
          "required" : false,
          "type" : "integer",
          "maximum" : 1000.0,
          "exclusiveMaximum" : false,
          "minimum" : 0.0,
          "exclusiveMinimum" : false,
          "format" : "int32",
          "x-example" : 100
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Start with the n-th element",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "x-example" : 0
        }, {
          "name" : "organization",
          "in" : "query",
          "description" : "Show only entries created by one of the given organizations. This parameter can be used multiple times.",
          "required" : false,
          "type" : "string",
          "allowEmptyValue" : false
        }, {
          "name" : "qualifier",
          "in" : "query",
          "description" : "Show only entries matching one of the given history item qualifiers (additional property de.id4i.history.item.qualifier). This parameter can be used multiple times.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "allowEmptyValue" : false
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "To date time as UTC Date-Time format",
          "required" : false,
          "type" : "string",
          "format" : "date-time",
          "x-example" : "2018-05-11T01:01:01.690Z"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Show only entries matching one of the given history item types. This parameter can be used multiple times.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "CREATED", "DESTROYED", "RECYCLED", "SHIPMENT_PREPARED", "STORED", "RETRIEVED_FROM_STORAGE", "PACKAGED", "DISPATCHED", "RECEIVED", "REPROCESSING_STARTED", "REPROCESSING_STEP_STARTED", "REPROCESSING_STEP_CANCELLED", "REPROCESSING_STEP_FINISHED", "REPROCESSING_CANCELLED", "REPROCESSING_FINISHED", "DISASSEMBLED", "MAINTENANCE_STARTED", "MAINTENANCE_STEP_STARTED", "MAINTENANCE_STEP_CANCELLED", "MAINTENANCE_STEP_FINISHED", "MAINTENANCE_CANCELLED", "MAINTENANCE_FINISHED", "PRODUCTION_STARTED", "PRODUCTION_CANCELLED", "PRODUCTION_FINISHED", "PRODUCTION_STEP_STARTED", "PRODUCTION_STEP_CANCELLED", "PRODUCTION_STEP_FINISHED", "QUALITY_CHECK_PERFORMED" ]
          },
          "collectionFormat" : "multi",
          "allowEmptyValue" : false,
          "enum" : [ "CREATED", "DESTROYED", "RECYCLED", "SHIPMENT_PREPARED", "STORED", "RETRIEVED_FROM_STORAGE", "PACKAGED", "DISPATCHED", "RECEIVED", "REPROCESSING_STARTED", "REPROCESSING_STEP_STARTED", "REPROCESSING_STEP_CANCELLED", "REPROCESSING_STEP_FINISHED", "REPROCESSING_CANCELLED", "REPROCESSING_FINISHED", "DISASSEMBLED", "MAINTENANCE_STARTED", "MAINTENANCE_STEP_STARTED", "MAINTENANCE_STEP_CANCELLED", "MAINTENANCE_STEP_FINISHED", "MAINTENANCE_CANCELLED", "MAINTENANCE_FINISHED", "PRODUCTION_STARTED", "PRODUCTION_CANCELLED", "PRODUCTION_FINISHED", "PRODUCTION_STEP_STARTED", "PRODUCTION_STEP_CANCELLED", "PRODUCTION_STEP_FINISHED", "QUALITY_CHECK_PERFORMED" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedHistoryItemResponse"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "History" ],
        "summary" : "Add history item",
        "description" : "Add a new history item",
        "operationId" : "addItem",
        "parameters" : [ {
          "in" : "body",
          "name" : "historyItem",
          "description" : "The history item to publish",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HistoryItem"
          }
        }, {
          "name" : "id4n",
          "in" : "path",
          "description" : "GUID to retrieve the history for",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "415" : {
            "description" : "Unsupported Media Type",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "deprecated" : false
      }
    },
    "/api/v1/history/{id4n}/{organizationId}" : {
      "get" : {
        "tags" : [ "History" ],
        "summary" : "DEPRECATED - List history",
        "description" : "DEPRECATED - please use filteredList with organization parameter to achieve the same functionality",
        "operationId" : "list",
        "parameters" : [ {
          "name" : "id4n",
          "in" : "path",
          "description" : "GUID to retrieve the history for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "includePrivate",
          "in" : "query",
          "description" : "Also return private history entries",
          "required" : false,
          "type" : "boolean",
          "default" : true,
          "allowEmptyValue" : false
        }, {
          "name" : "limit",
          "in" : "query",
[...]
