version: 2
jobs:
  build:
    docker:
    - image: circleci/golang:1.11.2-stretch-node-browsers

    working_directory: /go/src/github.com/BlueRainSoftware/id4i-cli
    steps:
    - checkout

    - run: go get -u -v github.com/golang/dep/cmd/dep
    - run: dep ensure -vendor-only -v
    - run:
        name: Integration tests
        command: |
          cd test
          ./run-tests.sh -ibpct
          yarn add ava tap-xunit --dev
          mkdir -p ~/reports
          cat tests.log | node_modules/.bin/tap-xunit > ~/reports/results.xml
    - store_test_results:
          path: ~/reports
    - run:
        name: Linux Binaries
        command: CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -o id4i main.go
    - store_artifacts:
        path: ./id4i
        destination: dist/linux/id4i
    - run:
        name: MacOS Binaries
        command: CGO_ENABLED=0 GOOS=darwin go build -a -installsuffix cgo -o id4i main.go
    - store_artifacts:
        path: ./id4i
        destination: dist/darwin/id4i
    - run:
        name: Windows Binaries (32 bit)
        command: CGO_ENABLED=0 GOOS=windows GOARCH=386 go build -a -installsuffix cgo -o id4i main.go
    - store_artifacts:
        path: ./id4i
        destination: dist/win32/id4i
    - run:
        name: Windows Binaries (64 bit)
        command: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -a -installsuffix cgo -o id4i main.go
    - store_artifacts:
        path: ./id4i
        destination: dist/win64/id4i

    - setup_remote_docker
    - run: docker build . -t id4i-cli:latest
    - run:
        name: Update README
        command: |
          git config user.email "brdeployment@vhmhv.de"
          git config user.name "CI Build"
          ./update-readme.sh
          git push --set-upstream origin $CIRCLE_BRANCH
          # Don't push if README has not changed, ignore master
          if [ ! "$CIRCLE_BRANCH" = "master" ]; then git diff --quiet README.adoc || git commit -m "[ci skip] Update README with current help output" README.adoc && git push; fi
 q
